@font-face {
    font-family: "icon-portfolio";
    src: url("../public/fonts/icon-portfolio.eot?j3gol3");
    src: url("../public/fonts/icon-portfolio.eot?j3gol3#iefix")
            format("embedded-opentype"),
        url("../public/fonts/icon-portfolio.ttf?j3gol3") format("truetype"),
        url("../public/fonts/icon-portfolio.woff?j3gol3") format("woff"),
        url("../public/fonts/icon-portfolio.svg?j3gol3#icon-portfolio")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-portfolio-"],
[class*="icon-portfolio-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icon-portfolio" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-portfolio-creativity:before {
    content: "\e900";
}
.icon-portfolio-teamwork:before {
    content: "\e901";
}
.icon-portfolio-conversation:before {
    content: "\e902";
}
.icon-portfolio-home:before {
    content: "\e903";
}
.icon-portfolio-home2:before {
    content: "\e904";
}
.icon-portfolio-home3:before {
    content: "\e905";
}
.icon-portfolio-office:before {
    content: "\e906";
}
.icon-portfolio-newspaper:before {
    content: "\e907";
}
.icon-portfolio-pencil:before {
    content: "\e908";
}
.icon-portfolio-pencil2:before {
    content: "\e909";
}
.icon-portfolio-quill:before {
    content: "\e90a";
}
.icon-portfolio-pen:before {
    content: "\e90b";
}
.icon-portfolio-blog:before {
    content: "\e90c";
}
.icon-portfolio-eyedropper:before {
    content: "\e90d";
}
.icon-portfolio-droplet:before {
    content: "\e90e";
}
.icon-portfolio-paint-format:before {
    content: "\e90f";
}
.icon-portfolio-image:before {
    content: "\e910";
}
.icon-portfolio-images:before {
    content: "\e911";
}
.icon-portfolio-camera:before {
    content: "\e912";
}
.icon-portfolio-headphones:before {
    content: "\e913";
}
.icon-portfolio-music:before {
    content: "\e914";
}
.icon-portfolio-play:before {
    content: "\e915";
}
.icon-portfolio-film:before {
    content: "\e916";
}
.icon-portfolio-video-camera:before {
    content: "\e917";
}
.icon-portfolio-dice:before {
    content: "\e918";
}
.icon-portfolio-pacman:before {
    content: "\e919";
}
.icon-portfolio-spades:before {
    content: "\e91a";
}
.icon-portfolio-clubs:before {
    content: "\e91b";
}
.icon-portfolio-diamonds:before {
    content: "\e91c";
}
.icon-portfolio-bullhorn:before {
    content: "\e91d";
}
.icon-portfolio-connection:before {
    content: "\e91e";
}
.icon-portfolio-podcast:before {
    content: "\e91f";
}
.icon-portfolio-feed:before {
    content: "\e920";
}
.icon-portfolio-mic:before {
    content: "\e921";
}
.icon-portfolio-book:before {
    content: "\e922";
}
.icon-portfolio-books:before {
    content: "\e923";
}
.icon-portfolio-library:before {
    content: "\e924";
}
.icon-portfolio-file-text:before {
    content: "\e925";
}
.icon-portfolio-profile:before {
    content: "\e926";
}
.icon-portfolio-file-empty:before {
    content: "\e927";
}
.icon-portfolio-files-empty:before {
    content: "\e928";
}
.icon-portfolio-file-text2:before {
    content: "\e929";
}
.icon-portfolio-file-picture:before {
    content: "\e92a";
}
.icon-portfolio-file-music:before {
    content: "\e92b";
}
.icon-portfolio-file-play:before {
    content: "\e92c";
}
.icon-portfolio-file-video:before {
    content: "\e92d";
}
.icon-portfolio-file-zip:before {
    content: "\e92e";
}
.icon-portfolio-copy:before {
    content: "\e92f";
}
.icon-portfolio-paste:before {
    content: "\e930";
}
.icon-portfolio-stack:before {
    content: "\e931";
}
.icon-portfolio-folder:before {
    content: "\e932";
}
.icon-portfolio-folder-open:before {
    content: "\e933";
}
.icon-portfolio-folder-plus:before {
    content: "\e934";
}
.icon-portfolio-folder-minus:before {
    content: "\e935";
}
.icon-portfolio-folder-download:before {
    content: "\e936";
}
.icon-portfolio-folder-upload:before {
    content: "\e937";
}
.icon-portfolio-price-tag:before {
    content: "\e938";
}
.icon-portfolio-price-tags:before {
    content: "\e939";
}
.icon-portfolio-barcode:before {
    content: "\e93a";
}
.icon-portfolio-qrcode:before {
    content: "\e93b";
}
.icon-portfolio-ticket:before {
    content: "\e93c";
}
.icon-portfolio-cart:before {
    content: "\e93d";
}
.icon-portfolio-coin-dollar:before {
    content: "\e93e";
}
.icon-portfolio-coin-euro:before {
    content: "\e93f";
}
.icon-portfolio-coin-pound:before {
    content: "\e940";
}
.icon-portfolio-coin-yen:before {
    content: "\e941";
}
.icon-portfolio-credit-card:before {
    content: "\e942";
}
.icon-portfolio-calculator:before {
    content: "\e943";
}
.icon-portfolio-lifebuoy:before {
    content: "\e944";
}
.icon-portfolio-phone:before {
    content: "\e945";
}
.icon-portfolio-phone-hang-up:before {
    content: "\e946";
}
.icon-portfolio-address-book:before {
    content: "\e947";
}
.icon-portfolio-envelop:before {
    content: "\e948";
}
.icon-portfolio-pushpin:before {
    content: "\e949";
}
.icon-portfolio-location:before {
    content: "\e94a";
}
.icon-portfolio-location2:before {
    content: "\e94b";
}
.icon-portfolio-compass:before {
    content: "\e94c";
}
.icon-portfolio-compass2:before {
    content: "\e94d";
}
.icon-portfolio-map:before {
    content: "\e94e";
}
.icon-portfolio-map2:before {
    content: "\e94f";
}
.icon-portfolio-history:before {
    content: "\e950";
}
.icon-portfolio-clock:before {
    content: "\e951";
}
.icon-portfolio-clock2:before {
    content: "\e952";
}
.icon-portfolio-alarm:before {
    content: "\e953";
}
.icon-portfolio-bell:before {
    content: "\e954";
}
.icon-portfolio-stopwatch:before {
    content: "\e955";
}
.icon-portfolio-calendar:before {
    content: "\e956";
}
.icon-portfolio-printer:before {
    content: "\e957";
}
.icon-portfolio-keyboard:before {
    content: "\e958";
}
.icon-portfolio-display:before {
    content: "\e959";
}
.icon-portfolio-laptop:before {
    content: "\e95a";
}
.icon-portfolio-mobile:before {
    content: "\e95b";
}
.icon-portfolio-mobile2:before {
    content: "\e95c";
}
.icon-portfolio-tablet:before {
    content: "\e95d";
}
.icon-portfolio-tv:before {
    content: "\e95e";
}
.icon-portfolio-drawer:before {
    content: "\e95f";
}
.icon-portfolio-drawer2:before {
    content: "\e960";
}
.icon-portfolio-box-add:before {
    content: "\e961";
}
.icon-portfolio-box-remove:before {
    content: "\e962";
}
.icon-portfolio-download:before {
    content: "\e963";
}
.icon-portfolio-upload:before {
    content: "\e964";
}
.icon-portfolio-floppy-disk:before {
    content: "\e965";
}
.icon-portfolio-drive:before {
    content: "\e966";
}
.icon-portfolio-database:before {
    content: "\e967";
}
.icon-portfolio-undo:before {
    content: "\e968";
}
.icon-portfolio-redo:before {
    content: "\e969";
}
.icon-portfolio-undo2:before {
    content: "\e96a";
}
.icon-portfolio-redo2:before {
    content: "\e96b";
}
.icon-portfolio-forward:before {
    content: "\e96c";
}
.icon-portfolio-reply:before {
    content: "\e96d";
}
.icon-portfolio-bubble:before {
    content: "\e96e";
}
.icon-portfolio-bubbles:before {
    content: "\e96f";
}
.icon-portfolio-bubbles2:before {
    content: "\e970";
}
.icon-portfolio-bubble2:before {
    content: "\e971";
}
.icon-portfolio-bubbles3:before {
    content: "\e972";
}
.icon-portfolio-bubbles4:before {
    content: "\e973";
}
.icon-portfolio-user:before {
    content: "\e974";
}
.icon-portfolio-users:before {
    content: "\e975";
}
.icon-portfolio-user-plus:before {
    content: "\e976";
}
.icon-portfolio-user-minus:before {
    content: "\e977";
}
.icon-portfolio-user-check:before {
    content: "\e978";
}
.icon-portfolio-user-tie:before {
    content: "\e979";
}
.icon-portfolio-quotes-left:before {
    content: "\e97a";
}
.icon-portfolio-quotes-right:before {
    content: "\e97b";
}
.icon-portfolio-hour-glass:before {
    content: "\e97c";
}
.icon-portfolio-spinner:before {
    content: "\e97d";
}
.icon-portfolio-spinner2:before {
    content: "\e97e";
}
.icon-portfolio-spinner3:before {
    content: "\e97f";
}
.icon-portfolio-spinner4:before {
    content: "\e980";
}
.icon-portfolio-spinner5:before {
    content: "\e981";
}
.icon-portfolio-spinner6:before {
    content: "\e982";
}
.icon-portfolio-spinner7:before {
    content: "\e983";
}
.icon-portfolio-spinner8:before {
    content: "\e984";
}
.icon-portfolio-spinner9:before {
    content: "\e985";
}
.icon-portfolio-spinner10:before {
    content: "\e986";
}
.icon-portfolio-spinner11:before {
    content: "\e987";
}
.icon-portfolio-binoculars:before {
    content: "\e988";
}
.icon-portfolio-search:before {
    content: "\e989";
}
.icon-portfolio-zoom-in:before {
    content: "\e98a";
}
.icon-portfolio-zoom-out:before {
    content: "\e98b";
}
.icon-portfolio-enlarge:before {
    content: "\e98c";
}
.icon-portfolio-shrink:before {
    content: "\e98d";
}
.icon-portfolio-enlarge2:before {
    content: "\e98e";
}
.icon-portfolio-shrink2:before {
    content: "\e98f";
}
.icon-portfolio-key:before {
    content: "\e990";
}
.icon-portfolio-key2:before {
    content: "\e991";
}
.icon-portfolio-lock:before {
    content: "\e992";
}
.icon-portfolio-unlocked:before {
    content: "\e993";
}
.icon-portfolio-wrench:before {
    content: "\e994";
}
.icon-portfolio-equalizer:before {
    content: "\e995";
}
.icon-portfolio-equalizer2:before {
    content: "\e996";
}
.icon-portfolio-cog:before {
    content: "\e997";
}
.icon-portfolio-cogs:before {
    content: "\e998";
}
.icon-portfolio-hammer:before {
    content: "\e999";
}
.icon-portfolio-magic-wand:before {
    content: "\e99a";
}
.icon-portfolio-aid-kit:before {
    content: "\e99b";
}
.icon-portfolio-bug:before {
    content: "\e99c";
}
.icon-portfolio-pie-chart:before {
    content: "\e99d";
}
.icon-portfolio-stats-dots:before {
    content: "\e99e";
}
.icon-portfolio-stats-bars:before {
    content: "\e99f";
}
.icon-portfolio-stats-bars2:before {
    content: "\e9a0";
}
.icon-portfolio-trophy:before {
    content: "\e9a1";
}
.icon-portfolio-gift:before {
    content: "\e9a2";
}
.icon-portfolio-glass:before {
    content: "\e9a3";
}
.icon-portfolio-glass2:before {
    content: "\e9a4";
}
.icon-portfolio-mug:before {
    content: "\e9a5";
}
.icon-portfolio-spoon-knife:before {
    content: "\e9a6";
}
.icon-portfolio-leaf:before {
    content: "\e9a7";
}
.icon-portfolio-rocket:before {
    content: "\e9a8";
}
.icon-portfolio-meter:before {
    content: "\e9a9";
}
.icon-portfolio-meter2:before {
    content: "\e9aa";
}
.icon-portfolio-hammer2:before {
    content: "\e9ab";
}
.icon-portfolio-fire:before {
    content: "\e9ac";
}
.icon-portfolio-lab:before {
    content: "\e9ad";
}
.icon-portfolio-magnet:before {
    content: "\e9ae";
}
.icon-portfolio-bin:before {
    content: "\e9af";
}
.icon-portfolio-bin2:before {
    content: "\e9b0";
}
.icon-portfolio-briefcase:before {
    content: "\e9b1";
}
.icon-portfolio-airplane:before {
    content: "\e9b2";
}
.icon-portfolio-truck:before {
    content: "\e9b3";
}
.icon-portfolio-road:before {
    content: "\e9b4";
}
.icon-portfolio-accessibility:before {
    content: "\e9b5";
}
.icon-portfolio-target:before {
    content: "\e9b6";
}
.icon-portfolio-shield:before {
    content: "\e9b7";
}
.icon-portfolio-power:before {
    content: "\e9b8";
}
.icon-portfolio-switch:before {
    content: "\e9b9";
}
.icon-portfolio-power-cord:before {
    content: "\e9ba";
}
.icon-portfolio-clipboard:before {
    content: "\e9bb";
}
.icon-portfolio-list-numbered:before {
    content: "\e9bc";
}
.icon-portfolio-list:before {
    content: "\e9bd";
}
.icon-portfolio-list2:before {
    content: "\e9be";
}
.icon-portfolio-tree:before {
    content: "\e9bf";
}
.icon-portfolio-menu:before {
    content: "\e9c0";
}
.icon-portfolio-menu2:before {
    content: "\e9c1";
}
.icon-portfolio-menu3:before {
    content: "\e9c2";
}
.icon-portfolio-menu4:before {
    content: "\e9c3";
}
.icon-portfolio-cloud:before {
    content: "\e9c4";
}
.icon-portfolio-cloud-download:before {
    content: "\e9c5";
}
.icon-portfolio-cloud-upload:before {
    content: "\e9c6";
}
.icon-portfolio-cloud-check:before {
    content: "\e9c7";
}
.icon-portfolio-download2:before {
    content: "\e9c8";
}
.icon-portfolio-upload2:before {
    content: "\e9c9";
}
.icon-portfolio-download3:before {
    content: "\e9ca";
}
.icon-portfolio-upload3:before {
    content: "\e9cb";
}
.icon-portfolio-sphere:before {
    content: "\e9cc";
}
.icon-portfolio-earth:before {
    content: "\e9cd";
}
.icon-portfolio-link:before {
    content: "\e9ce";
}
.icon-portfolio-flag:before {
    content: "\e9cf";
}
.icon-portfolio-attachment:before {
    content: "\e9d0";
}
.icon-portfolio-eye:before {
    content: "\e9d1";
}
.icon-portfolio-eye-plus:before {
    content: "\e9d2";
}
.icon-portfolio-eye-minus:before {
    content: "\e9d3";
}
.icon-portfolio-eye-blocked:before {
    content: "\e9d4";
}
.icon-portfolio-bookmark:before {
    content: "\e9d5";
}
.icon-portfolio-bookmarks:before {
    content: "\e9d6";
}
.icon-portfolio-sun:before {
    content: "\e9d7";
}
.icon-portfolio-contrast:before {
    content: "\e9d8";
}
.icon-portfolio-brightness-contrast:before {
    content: "\e9d9";
}
.icon-portfolio-star-empty:before {
    content: "\e9da";
}
.icon-portfolio-star-half:before {
    content: "\e9db";
}
.icon-portfolio-star-full:before {
    content: "\e9dc";
}
.icon-portfolio-heart:before {
    content: "\e9dd";
}
.icon-portfolio-heart-broken:before {
    content: "\e9de";
}
.icon-portfolio-man:before {
    content: "\e9df";
}
.icon-portfolio-woman:before {
    content: "\e9e0";
}
.icon-portfolio-man-woman:before {
    content: "\e9e1";
}
.icon-portfolio-happy:before {
    content: "\e9e2";
}
.icon-portfolio-happy2:before {
    content: "\e9e3";
}
.icon-portfolio-smile:before {
    content: "\e9e4";
}
.icon-portfolio-smile2:before {
    content: "\e9e5";
}
.icon-portfolio-tongue:before {
    content: "\e9e6";
}
.icon-portfolio-tongue2:before {
    content: "\e9e7";
}
.icon-portfolio-sad:before {
    content: "\e9e8";
}
.icon-portfolio-sad2:before {
    content: "\e9e9";
}
.icon-portfolio-wink:before {
    content: "\e9ea";
}
.icon-portfolio-wink2:before {
    content: "\e9eb";
}
.icon-portfolio-grin:before {
    content: "\e9ec";
}
.icon-portfolio-grin2:before {
    content: "\e9ed";
}
.icon-portfolio-cool:before {
    content: "\e9ee";
}
.icon-portfolio-cool2:before {
    content: "\e9ef";
}
.icon-portfolio-angry:before {
    content: "\e9f0";
}
.icon-portfolio-angry2:before {
    content: "\e9f1";
}
.icon-portfolio-evil:before {
    content: "\e9f2";
}
.icon-portfolio-evil2:before {
    content: "\e9f3";
}
.icon-portfolio-shocked:before {
    content: "\e9f4";
}
.icon-portfolio-shocked2:before {
    content: "\e9f5";
}
.icon-portfolio-baffled:before {
    content: "\e9f6";
}
.icon-portfolio-baffled2:before {
    content: "\e9f7";
}
.icon-portfolio-confused:before {
    content: "\e9f8";
}
.icon-portfolio-confused2:before {
    content: "\e9f9";
}
.icon-portfolio-neutral:before {
    content: "\e9fa";
}
.icon-portfolio-neutral2:before {
    content: "\e9fb";
}
.icon-portfolio-hipster:before {
    content: "\e9fc";
}
.icon-portfolio-hipster2:before {
    content: "\e9fd";
}
.icon-portfolio-wondering:before {
    content: "\e9fe";
}
.icon-portfolio-wondering2:before {
    content: "\e9ff";
}
.icon-portfolio-sleepy:before {
    content: "\ea00";
}
.icon-portfolio-sleepy2:before {
    content: "\ea01";
}
.icon-portfolio-frustrated:before {
    content: "\ea02";
}
.icon-portfolio-frustrated2:before {
    content: "\ea03";
}
.icon-portfolio-crying:before {
    content: "\ea04";
}
.icon-portfolio-crying2:before {
    content: "\ea05";
}
.icon-portfolio-point-up:before {
    content: "\ea06";
}
.icon-portfolio-point-right:before {
    content: "\ea07";
}
.icon-portfolio-point-down:before {
    content: "\ea08";
}
.icon-portfolio-point-left:before {
    content: "\ea09";
}
.icon-portfolio-warning:before {
    content: "\ea0a";
}
.icon-portfolio-notification:before {
    content: "\ea0b";
}
.icon-portfolio-question:before {
    content: "\ea0c";
}
.icon-portfolio-plus:before {
    content: "\ea0d";
}
.icon-portfolio-minus:before {
    content: "\ea0e";
}
.icon-portfolio-info:before {
    content: "\ea0f";
}
.icon-portfolio-cancel-circle:before {
    content: "\ea10";
}
.icon-portfolio-blocked:before {
    content: "\ea11";
}
.icon-portfolio-cross:before {
    content: "\ea12";
}
.icon-portfolio-checkmark:before {
    content: "\ea13";
}
.icon-portfolio-checkmark2:before {
    content: "\ea14";
}
.icon-portfolio-spell-check:before {
    content: "\ea15";
}
.icon-portfolio-enter:before {
    content: "\ea16";
}
.icon-portfolio-exit:before {
    content: "\ea17";
}
.icon-portfolio-play2:before {
    content: "\ea18";
}
.icon-portfolio-pause:before {
    content: "\ea19";
}
.icon-portfolio-stop:before {
    content: "\ea1a";
}
.icon-portfolio-previous:before {
    content: "\ea1b";
}
.icon-portfolio-next:before {
    content: "\ea1c";
}
.icon-portfolio-backward:before {
    content: "\ea1d";
}
.icon-portfolio-forward2:before {
    content: "\ea1e";
}
.icon-portfolio-play3:before {
    content: "\ea1f";
}
.icon-portfolio-pause2:before {
    content: "\ea20";
}
.icon-portfolio-stop2:before {
    content: "\ea21";
}
.icon-portfolio-backward2:before {
    content: "\ea22";
}
.icon-portfolio-forward3:before {
    content: "\ea23";
}
.icon-portfolio-first:before {
    content: "\ea24";
}
.icon-portfolio-last:before {
    content: "\ea25";
}
.icon-portfolio-previous2:before {
    content: "\ea26";
}
.icon-portfolio-next2:before {
    content: "\ea27";
}
.icon-portfolio-eject:before {
    content: "\ea28";
}
.icon-portfolio-volume-high:before {
    content: "\ea29";
}
.icon-portfolio-volume-medium:before {
    content: "\ea2a";
}
.icon-portfolio-volume-low:before {
    content: "\ea2b";
}
.icon-portfolio-volume-mute:before {
    content: "\ea2c";
}
.icon-portfolio-volume-mute2:before {
    content: "\ea2d";
}
.icon-portfolio-volume-increase:before {
    content: "\ea2e";
}
.icon-portfolio-volume-decrease:before {
    content: "\ea2f";
}
.icon-portfolio-loop:before {
    content: "\ea30";
}
.icon-portfolio-loop2:before {
    content: "\ea31";
}
.icon-portfolio-infinite:before {
    content: "\ea32";
}
.icon-portfolio-shuffle:before {
    content: "\ea33";
}
.icon-portfolio-arrow-up-left:before {
    content: "\ea34";
}
.icon-portfolio-arrow-up:before {
    content: "\ea35";
}
.icon-portfolio-arrow-up-right:before {
    content: "\ea36";
}
.icon-portfolio-arrow-right:before {
    content: "\ea37";
}
.icon-portfolio-arrow-down-right:before {
    content: "\ea38";
}
.icon-portfolio-arrow-down:before {
    content: "\ea39";
}
.icon-portfolio-arrow-down-left:before {
    content: "\ea3a";
}
.icon-portfolio-arrow-left:before {
    content: "\ea3b";
}
.icon-portfolio-arrow-up-left2:before {
    content: "\ea3c";
}
.icon-portfolio-arrow-up2:before {
    content: "\ea3d";
}
.icon-portfolio-arrow-up-right2:before {
    content: "\ea3e";
}
.icon-portfolio-arrow-right2:before {
    content: "\ea3f";
}
.icon-portfolio-arrow-down-right2:before {
    content: "\ea40";
}
.icon-portfolio-arrow-down2:before {
    content: "\ea41";
}
.icon-portfolio-arrow-down-left2:before {
    content: "\ea42";
}
.icon-portfolio-arrow-left2:before {
    content: "\ea43";
}
.icon-portfolio-circle-up:before {
    content: "\ea44";
}
.icon-portfolio-circle-right:before {
    content: "\ea45";
}
.icon-portfolio-circle-down:before {
    content: "\ea46";
}
.icon-portfolio-circle-left:before {
    content: "\ea47";
}
.icon-portfolio-tab:before {
    content: "\ea48";
}
.icon-portfolio-move-up:before {
    content: "\ea49";
}
.icon-portfolio-move-down:before {
    content: "\ea4a";
}
.icon-portfolio-sort-alpha-asc:before {
    content: "\ea4b";
}
.icon-portfolio-sort-alpha-desc:before {
    content: "\ea4c";
}
.icon-portfolio-sort-numeric-asc:before {
    content: "\ea4d";
}
.icon-portfolio-sort-numberic-desc:before {
    content: "\ea4e";
}
.icon-portfolio-sort-amount-asc:before {
    content: "\ea4f";
}
.icon-portfolio-sort-amount-desc:before {
    content: "\ea50";
}
.icon-portfolio-command:before {
    content: "\ea51";
}
.icon-portfolio-shift:before {
    content: "\ea52";
}
.icon-portfolio-ctrl:before {
    content: "\ea53";
}
.icon-portfolio-opt:before {
    content: "\ea54";
}
.icon-portfolio-checkbox-checked:before {
    content: "\ea55";
}
.icon-portfolio-checkbox-unchecked:before {
    content: "\ea56";
}
.icon-portfolio-radio-checked:before {
    content: "\ea57";
}
.icon-portfolio-radio-checked2:before {
    content: "\ea58";
}
.icon-portfolio-radio-unchecked:before {
    content: "\ea59";
}
.icon-portfolio-crop:before {
    content: "\ea5a";
}
.icon-portfolio-make-group:before {
    content: "\ea5b";
}
.icon-portfolio-ungroup:before {
    content: "\ea5c";
}
.icon-portfolio-scissors:before {
    content: "\ea5d";
}
.icon-portfolio-filter:before {
    content: "\ea5e";
}
.icon-portfolio-font:before {
    content: "\ea5f";
}
.icon-portfolio-ligature:before {
    content: "\ea60";
}
.icon-portfolio-ligature2:before {
    content: "\ea61";
}
.icon-portfolio-text-height:before {
    content: "\ea62";
}
.icon-portfolio-text-width:before {
    content: "\ea63";
}
.icon-portfolio-font-size:before {
    content: "\ea64";
}
.icon-portfolio-bold:before {
    content: "\ea65";
}
.icon-portfolio-underline:before {
    content: "\ea66";
}
.icon-portfolio-italic:before {
    content: "\ea67";
}
.icon-portfolio-strikethrough:before {
    content: "\ea68";
}
.icon-portfolio-omega:before {
    content: "\ea69";
}
.icon-portfolio-sigma:before {
    content: "\ea6a";
}
.icon-portfolio-page-break:before {
    content: "\ea6b";
}
.icon-portfolio-superscript:before {
    content: "\ea6c";
}
.icon-portfolio-subscript:before {
    content: "\ea6d";
}
.icon-portfolio-superscript2:before {
    content: "\ea6e";
}
.icon-portfolio-subscript2:before {
    content: "\ea6f";
}
.icon-portfolio-text-color:before {
    content: "\ea70";
}
.icon-portfolio-pagebreak:before {
    content: "\ea71";
}
.icon-portfolio-clear-formatting:before {
    content: "\ea72";
}
.icon-portfolio-table:before {
    content: "\ea73";
}
.icon-portfolio-table2:before {
    content: "\ea74";
}
.icon-portfolio-insert-template:before {
    content: "\ea75";
}
.icon-portfolio-pilcrow:before {
    content: "\ea76";
}
.icon-portfolio-ltr:before {
    content: "\ea77";
}
.icon-portfolio-rtl:before {
    content: "\ea78";
}
.icon-portfolio-section:before {
    content: "\ea79";
}
.icon-portfolio-paragraph-left:before {
    content: "\ea7a";
}
.icon-portfolio-paragraph-center:before {
    content: "\ea7b";
}
.icon-portfolio-paragraph-right:before {
    content: "\ea7c";
}
.icon-portfolio-paragraph-justify:before {
    content: "\ea7d";
}
.icon-portfolio-indent-increase:before {
    content: "\ea7e";
}
.icon-portfolio-indent-decrease:before {
    content: "\ea7f";
}
.icon-portfolio-share:before {
    content: "\ea80";
}
.icon-portfolio-new-tab:before {
    content: "\ea81";
}
.icon-portfolio-embed:before {
    content: "\ea82";
}
.icon-portfolio-embed2:before {
    content: "\ea83";
}
.icon-portfolio-terminal:before {
    content: "\ea84";
}
.icon-portfolio-share2:before {
    content: "\ea85";
}
.icon-portfolio-mail:before {
    content: "\ea86";
}
.icon-portfolio-mail2:before {
    content: "\ea87";
}
.icon-portfolio-mail3:before {
    content: "\ea88";
}
.icon-portfolio-mail4:before {
    content: "\ea89";
}
.icon-portfolio-amazon:before {
    content: "\ea8a";
}
.icon-portfolio-google:before {
    content: "\ea8b";
}
.icon-portfolio-google2:before {
    content: "\ea8c";
}
.icon-portfolio-google3:before {
    content: "\ea8d";
}
.icon-portfolio-google-plus:before {
    content: "\ea8e";
}
.icon-portfolio-google-plus2:before {
    content: "\ea8f";
}
.icon-portfolio-google-plus3:before {
    content: "\ea90";
}
.icon-portfolio-hangouts:before {
    content: "\ea91";
}
.icon-portfolio-google-drive:before {
    content: "\ea92";
}
.icon-portfolio-facebook:before {
    content: "\ea93";
}
.icon-portfolio-facebook2:before {
    content: "\ea94";
}
.icon-portfolio-instagram:before {
    content: "\ea95";
}
.icon-portfolio-whatsapp:before {
    content: "\ea96";
}
.icon-portfolio-spotify:before {
    content: "\ea97";
}
.icon-portfolio-telegram:before {
    content: "\ea98";
}
.icon-portfolio-twitter:before {
    content: "\ea99";
}
.icon-portfolio-vine:before {
    content: "\ea9a";
}
.icon-portfolio-vk:before {
    content: "\ea9b";
}
.icon-portfolio-renren:before {
    content: "\ea9c";
}
.icon-portfolio-sina-weibo:before {
    content: "\ea9d";
}
.icon-portfolio-rss:before {
    content: "\ea9e";
}
.icon-portfolio-rss2:before {
    content: "\ea9f";
}
.icon-portfolio-youtube:before {
    content: "\eaa0";
}
.icon-portfolio-youtube2:before {
    content: "\eaa1";
}
.icon-portfolio-twitch:before {
    content: "\eaa2";
}
.icon-portfolio-vimeo:before {
    content: "\eaa3";
}
.icon-portfolio-vimeo2:before {
    content: "\eaa4";
}
.icon-portfolio-lanyrd:before {
    content: "\eaa5";
}
.icon-portfolio-flickr:before {
    content: "\eaa6";
}
.icon-portfolio-flickr2:before {
    content: "\eaa7";
}
.icon-portfolio-flickr3:before {
    content: "\eaa8";
}
.icon-portfolio-flickr4:before {
    content: "\eaa9";
}
.icon-portfolio-dribbble:before {
    content: "\eaaa";
}
.icon-portfolio-behance:before {
    content: "\eaab";
}
.icon-portfolio-behance2:before {
    content: "\eaac";
}
.icon-portfolio-deviantart:before {
    content: "\eaad";
}
.icon-portfolio-500px:before {
    content: "\eaae";
}
.icon-portfolio-steam:before {
    content: "\eaaf";
}
.icon-portfolio-steam2:before {
    content: "\eab0";
}
.icon-portfolio-dropbox:before {
    content: "\eab1";
}
.icon-portfolio-onedrive:before {
    content: "\eab2";
}
.icon-portfolio-github:before {
    content: "\eab3";
}
.icon-portfolio-npm:before {
    content: "\eab4";
}
.icon-portfolio-basecamp:before {
    content: "\eab5";
}
.icon-portfolio-trello:before {
    content: "\eab6";
}
.icon-portfolio-wordpress:before {
    content: "\eab7";
}
.icon-portfolio-joomla:before {
    content: "\eab8";
}
.icon-portfolio-ello:before {
    content: "\eab9";
}
.icon-portfolio-blogger:before {
    content: "\eaba";
}
.icon-portfolio-blogger2:before {
    content: "\eabb";
}
.icon-portfolio-tumblr:before {
    content: "\eabc";
}
.icon-portfolio-tumblr2:before {
    content: "\eabd";
}
.icon-portfolio-yahoo:before {
    content: "\eabe";
}
.icon-portfolio-yahoo2:before {
    content: "\eabf";
}
.icon-portfolio-tux:before {
    content: "\eac0";
}
.icon-portfolio-appleinc:before {
    content: "\eac1";
}
.icon-portfolio-finder:before {
    content: "\eac2";
}
.icon-portfolio-android:before {
    content: "\eac3";
}
.icon-portfolio-windows:before {
    content: "\eac4";
}
.icon-portfolio-windows8:before {
    content: "\eac5";
}
.icon-portfolio-soundcloud:before {
    content: "\eac6";
}
.icon-portfolio-soundcloud2:before {
    content: "\eac7";
}
.icon-portfolio-skype:before {
    content: "\eac8";
}
.icon-portfolio-reddit:before {
    content: "\eac9";
}
.icon-portfolio-hackernews:before {
    content: "\eaca";
}
.icon-portfolio-wikipedia:before {
    content: "\eacb";
}
.icon-portfolio-linkedin:before {
    content: "\eacc";
}
.icon-portfolio-linkedin2:before {
    content: "\eacd";
}
.icon-portfolio-lastfm:before {
    content: "\eace";
}
.icon-portfolio-lastfm2:before {
    content: "\eacf";
}
.icon-portfolio-delicious:before {
    content: "\ead0";
}
.icon-portfolio-stumbleupon:before {
    content: "\ead1";
}
.icon-portfolio-stumbleupon2:before {
    content: "\ead2";
}
.icon-portfolio-stackoverflow:before {
    content: "\ead3";
}
.icon-portfolio-pinterest:before {
    content: "\ead4";
}
.icon-portfolio-pinterest2:before {
    content: "\ead5";
}
.icon-portfolio-xing:before {
    content: "\ead6";
}
.icon-portfolio-xing2:before {
    content: "\ead7";
}
.icon-portfolio-flattr:before {
    content: "\ead8";
}
.icon-portfolio-foursquare:before {
    content: "\ead9";
}
.icon-portfolio-yelp:before {
    content: "\eada";
}
.icon-portfolio-paypal:before {
    content: "\eadb";
}
.icon-portfolio-chrome:before {
    content: "\eadc";
}
.icon-portfolio-firefox:before {
    content: "\eadd";
}
.icon-portfolio-IE:before {
    content: "\eade";
}
.icon-portfolio-edge:before {
    content: "\eadf";
}
.icon-portfolio-safari:before {
    content: "\eae0";
}
.icon-portfolio-opera:before {
    content: "\eae1";
}
.icon-portfolio-file-pdf:before {
    content: "\eae2";
}
.icon-portfolio-file-openoffice:before {
    content: "\eae3";
}
.icon-portfolio-file-word:before {
    content: "\eae4";
}
.icon-portfolio-file-excel:before {
    content: "\eae5";
}
.icon-portfolio-libreoffice:before {
    content: "\eae6";
}
.icon-portfolio-html-five:before {
    content: "\eae7";
}
.icon-portfolio-html-five2:before {
    content: "\eae8";
}
.icon-portfolio-css3:before {
    content: "\eae9";
}
.icon-portfolio-git:before {
    content: "\eaea";
}
.icon-portfolio-codepen:before {
    content: "\eaeb";
}
.icon-portfolio-svg:before {
    content: "\eaec";
}
.icon-portfolio-IcoMoon:before {
    content: "\eaed";
}
