@import "icons";
@import "animate";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  .animate__animated.animate__delay-half {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}

.menu-item {
  &.active {
    color: #006d75;
    border-bottom: 1px solid #006d75;
  }
}
